@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Rock+Salt&family=Slackey&display=swap');

* {
  border: none; 
  margin: 0; 
  padding: 0; 
  text-decoration: none; 
}

/* header */

header {
  background-color: #1C797D;
  display: flex; 
  height: 20vh; 
}

.header-container {
  align-items: center; 
  display: flex; 
  height: 20vh; 
}

/* title logo */

#title-container {
  width: 75%; 
}

#title-container > div {
  text-align: center; 
}

h1, h2, h3 {
  font-size: 1.5em; 
  font-weight: 400;  
}

h1 {
  color: #E6FEFF;
  font-family: 'Slackey', cursive;
  text-transform: uppercase;
}

h2, h3 {
  color: #B74E74; 
  font-family: 'Rock Salt', cursive; 
  font-weight: 400; 
}

/* navigation bar */

#navbar-container {
  width: 25%; 
}

#header-links {
  list-style: none;
}

nav { 
  text-align: center; 
  width: 100%; 
}

#header-links a {
  color: #E6FEFF; 
  font-family: 'Rock Salt', cursive; 
  font-size: 0.7em; 
  font-weight: 400; 
}

.links a:hover, 
.links a:focus {
  border-bottom: 2px solid #E6FEFF; 
}

/* styling active page with a coloured underline taken from Code Institute Love Running project */
.active {
  border-bottom: 2px solid #B74E74; 
}

/* main home page section image and interactive buttons */

section {
  text-align: center; 
}

section h2 {
  padding: 2.5% 0; 
}

#home-content-container {
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto); 
  margin: 0 auto; 
  width: 90%; 
}

#question-mark-container {
  grid-area: question-mark; 
}

#rules-container {
  grid-area: rules; 
}

#username-container {
  grid-area: username; 
}

#quiz1-button-container {
  grid-area: quiz1; 
}

#quiz2-button-container {
  grid-area: quiz2; 
}

