@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Rock+Salt&family=Slackey&display=swap');

* {
  border: none; 
  margin: 0; 
  padding: 0; 
  text-decoration: none; 
}

body {
  background-color: #e6feff;
  color: #007d9e; 
  font-family: 'Raleway', sans-serif;
  font-size: 1em; 
}

/* header */

header {
  background-color: #1c797d;
  display: flex; 
  height: 20vh; 
}

.header-container {
  align-items: center; 
  display: flex; 
  height: 20vh; 
}

/* title logo */

#title-container {
  width: 75%; 
}

#title-container > div {
  text-align: center; 
}

h1, h2, h3 {
  font-size: 1.5em; 
  font-weight: 400;  
}

h1 {
  color: #E6FEFF;
  font-family: 'Slackey', cursive;
  text-transform: uppercase;
}

h2, h3 {
  color: #b74e74; 
  font-family: 'Rock Salt', cursive; 
  font-weight: 400; 
}

/* navigation bar */

#navbar-container {
  width: 25%; 
}

#header-links {
  list-style: none;
}

nav { 
  text-align: center; 
  width: 100%; 
}

#header-links a {
  color: #e6feff; 
  font-family: 'Rock Salt', cursive; 
  font-size: 0.7em; 
  font-weight: 400; 
}

.links a:hover, 
.links a:focus {
  border-bottom: 2px solid #e6feff; 
}

/* styling active page with a coloured underline taken from Code Institute Love Running project */
.active {
  border-bottom: 2px solid #b74e74; 
}

/* main home page section image and interactive buttons */

section {
  text-align: center; 
}

section h2 {
  padding: 2.5% 0; 
}

#home-content-container {
  display: grid; 
  grid-template-areas: 
    "question-mark question-mark question-mark question-mark"
    "rules rules rules rules"
    "username username username username"
    "quiz1 quiz1 quiz1 quiz1"
    "quiz2 quiz2 quiz2 quiz2";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto); 
  margin: 0 auto 5% auto; 
  row-gap: 15px; 
  width: 90%; 
}

#question-mark-container {
  grid-area: question-mark; 
}

#rules-container {
  grid-area: rules; 
}

#username-container { 
  grid-area: username; 
}

#quiz1-button-container { 
  grid-area: quiz1; 
}

#quiz2-button-container {
  grid-area: quiz2; 
}

/* rotating question mark image */

#question-mark { 
  border-radius: 50%; 
  box-shadow: 0 0 20px 10px #b74e74; 
  height: 70vw; 
  margin: 5%; 
  width: 70vw; 

  /* question mark rotation animation adapted from https://flaviocopes.com/rotate-image/
  using W3 Schools CSS Animation tutorial https://www.w3schools.com/css/css3_animations.asp */
  animation: rotation 10s linear 1s 2 alternate; 
}

/* sets the question mark to a full rotation */
@keyframes rotation {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(359deg); 
  }
}

/* home page buttons */

.home-page-button {
  background-color: #b74e74; 
  border-radius: 15px; 
  color: #e6feff;
  font-family: 'Slackey', cursive;
  font-size: 1em; 
  font-weight: 400; 
  padding: 10px; 
}

/* rules */

ol {
  margin: 5% 5% 0 10%; 
} 

li ~ li {
  margin-top: 5%; 
}

table {
  margin: 0 auto; 
}

th {
  border-bottom: 2px solid #007d9e; 
}

td {
  padding: 5px; 
  text-align: left; 
}

.low-score {
  color: #e00000; 
}

.medium-score {
  color: #0000ff; 
}

.high-score {
  color: #008500; 
}

/* username form */

#username {
  background: #e6feff; 
  border-radius: 5px; 
  border: 2px solid #007d9e;
  color: #007d9e; 
  font-family: 'Raleway', sans-serif;
  font-size: 1em; 
  margin: 5% 0; 
}

/* footer */

footer {
  align-items: center;
  background-color: #955B92; 
  display: flex; 
  height: 15vh; 
  justify-content: center;
  text-align: center; 
}

footer ul {
  list-style: none; 
}

footer a {
  color: #e6feff; 
  font-family: 'Rock Salt', cursive; 
  font-size: 0.8em; 
  font-weight: 400; 
}
