@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,500;1,500&family=Rock+Salt&family=Slackey&display=swap');

* {
  border: none; 
  margin: 0; 
  padding: 0; 
  text-decoration: none; 
}

body {
  background-color: #e6feff;
  color: #007d9e; 
  font-family: 'Raleway', sans-serif;
  font-size: 1em; 
  font-weight: 500; 
}

/* header */

header {
  background-color: #1c797d;
  display: flex; 
  height: 20vh; 
}

.header-container {
  align-items: center; 
  display: flex; 
  height: 20vh; 
}

/* title logo */

#title-container {
  width: 75%; 
}

#title-container > div {
  text-align: center; 
}

h1, h2 {
  font-size: 1.5em; 
  font-weight: 400;  
}

h1 {
  color: #E6FEFF;
  font-family: 'Slackey', cursive;
  text-transform: uppercase;
}

h2 {
  color: #b74e74; 
  font-family: 'Rock Salt', cursive; 
   
}

h3 {
  color: #955B92; 
  font-family: 'Slackey', cursive;
  font-size: 1.1em; 
  font-weight: 400; 
  margin-bottom: -10px; 
}

/* navigation bar */

#navbar-container {
  width: 25%; 
}

#header-links {
  list-style: none;
}

nav { 
  text-align: center; 
  width: 100%; 
}

#header-links a {
  color: #e6feff; 
  font-family: 'Rock Salt', cursive; 
  font-size: 0.7em; 
  font-weight: 400; 
}

.links a:hover, 
.links a:focus {
  border-bottom: 2px solid #e6feff; 
}

/* styling active page with a coloured underline taken from Code Institute Love Running project */
.active {
  border-bottom: 2px solid #b74e74; 
}

/* main home page section image and interactive buttons */

section {
  text-align: center; 
}

section h2 {
  padding: 2.5% 0; 
}

#home-content-container {
  display: grid; 
  grid-template-areas: 
    "question-mark question-mark question-mark question-mark"
    "rules rules rules rules"
    "username username username username"
    "quiz1 quiz1 quiz1 quiz1"
    "quiz2 quiz2 quiz2 quiz2";
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, auto); 
  margin: 0 auto 8% auto; 
  row-gap: 20px; 
  width: 90%; 
}

#question-mark-container {
  grid-area: question-mark; 
}

#rules-container {
  grid-area: rules; 
}

#username-container { 
  grid-area: username; 
}

#quiz1-button-container { 
  grid-area: quiz1; 
}

#quiz2-button-container {
  grid-area: quiz2; 
}

/* rotating question mark image */

#question-mark { 
  border-radius: 50%; 
  box-shadow: 0 0 20px 10px #b74e74; 
  height: 70vw; 
  margin: 5%; 
  width: 70vw; 

  /* question mark rotation animation adapted from https://flaviocopes.com/rotate-image/
  using W3 Schools CSS Animation tutorial https://www.w3schools.com/css/css3_animations.asp */
  animation: rotation 10s linear 1s 2 alternate; 
}

/* sets the question mark to a full rotation */
@keyframes rotation {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(359deg); 
  }
}

/* home page buttons */

.home-page-button {
  background-color: #b74e74; 
  border-radius: 15px; 
  color: #e6feff;
  font-family: 'Slackey', cursive;
  font-size: 1em; 
  font-weight: 400; 
  padding: 10px; 
}

/* rules */

ol {
  margin: 5% 5% 0 10%; 
} 

li ~ li {
  margin-top: 5%; 
}

table {
  margin: 0 auto; 
}

th {
  border-bottom: 2px solid #007d9e; 
}

td {
  padding: 5px; 
  text-align: left; 
}

.low-score {
  color: #e00000; 
}

.medium-score {
  color: #0000ff; 
}

.high-score {
  color: #008500; 
}

/* username form */

#username {
  background: #e6feff; 
  border-radius: 5px; 
  border: 2px solid #007d9e;
  color: #007d9e; 
  font-family: 'Raleway', sans-serif;
  font-size: 1em; 
  margin: 5% 0; 
}

.username-submit-button {
  background-color: #007d9e; 
  border-radius: 15px; 
  color: #e6feff;
  font-family: 'Raleway', sans-serif;
  font-size: 1em; 
  font-weight: 400; 
  padding: 5px; 
}

#username-container p {
  margin-top: 5%; 
}

/* styling for Rules and Create Username form containers when contents are visible */
.show-hide-content-container {
  box-shadow: 0 0 8px 2px #007d9e; 
  padding: 2%;
}

/* styling for submit buttons once form submitted */
.submitted-button {
  background-color: #95b0b1;
  color: #283d3e;
}

/* footer */

footer {
  align-items: center;
  background-color: #955B92; 
  display: flex; 
  height: 15vh; 
  justify-content: center;
  text-align: center; 
}

footer ul {
  list-style: none; 
}

footer a {
  color: #e6feff; 
  font-family: 'Rock Salt', cursive; 
  font-size: 0.8em; 
  font-weight: 400; 
}

/* quiz page */

#round1-container {
  display: grid; 
  grid-template-areas: 
    "round1-heading round1-heading round1-heading"
    "round1-q1 round1-q1 round1-q1"
    "round1-q2 round1-q2 round1-q2"
    "round1-q3 round1-q3 round1-q3"
    "round1-submit round1-submit round1-submit";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto); 
  margin: 0 auto 8% auto; 
  row-gap: 20px; 
  width: 90%; 
}

#round1-heading-container {
  grid-area: round1-heading; 
  text-align: left; 
}

#round1-q1-container {
  grid-area: round1-q1; 
} 

#round1-q2-container {
  grid-area: round1-q2; 
}

#round1-q3-container {
  grid-area: round1-q3; 
}

#round1-submit-container {
  grid-area: round1-submit;   
}

.round-question-container {
   background-color: #007d9e;
   border-radius: 15px; 
   box-shadow: 0 0 8px 2px #b74e74;
}

.quiz-photo-container { 
  margin: 10% auto 5% auto; 
  width: 80%; 
}

.quiz-photo-container > img { 
  width: 100%; 
  vertical-align: bottom;
}

.quiz-question-container {
  color: #e6feff;  
  padding: 0 5% 8% 5%; 
}

.quiz-question {
  margin-bottom: 5%;  
}

.quiz-quote {
  font-style: italic; 
}

.quiz-answer {
  background-color: #e6feff; 
  border-radius: 15px; 
  color: #007d9e;
  font-size: 1em; 
  font-weight: 400;
  margin: 2% auto; 
  padding: 3%; 
  position: relative; 
  width: 80%; 
}

/* 
code to hide radio buttons without the hidden radio taking
up space whilst still allowing focus on the radio label taken
from an answer given by Gerben Versluis on Stack Overflow - 
https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css 
*/
.quiz-answer > input {
  opacity: 0; 
  position: absolute;
  width: 0;  
} 

/* 
code to change label styling for checked radio button taken from an 
answer given by Gerben Versluis on Stack Overflow - 
https://stackoverflow.com/questions/18078871/hide-check-radio-button-with-css 
*/
input[type=radio]:checked+label { 
  font-family: 'Slackey', cursive;
}

.round-submit-button {
  background-color: #1c797d; 
  border-radius: 15px; 
  color: #e6feff;
  font-family: 'Slackey', cursive;
  font-size: 1.3em; 
  font-weight: 400; 
  padding: 15px; 
}
